.centralEvent {
  position: relative;
  width: 964px;
  height: 464px;
  margin: 0;
  background: url(bg.jpg) no-repeat;
}

.btn {
  position: absolute;
  top: 6px;
  left: 787px;
  height: 235px;
}

.raylink {
  float: left;
  width: 100%;
  height: 100%;
}
